.toolbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 14px;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.toolbar__row-container {
    display: flex;
    width: 100%;
    column-gap: 14px;
}

.toolbar__editor-menu {
    display: flex;
    width: 100%;
    column-gap: 8px;
}

.overview-presentation-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-around;
}

.reveal-viewport:fullscreen {
    background-color: white;

    .presentation__node--selected,
    .presentation__node--editing {
        outline: none;
        // TODO: hide outline when in presentation mode
    }
}

.presentation {
    margin: 14px auto 0;
}

.presentation__toolbar-item {
    height: 24px;
    width: 24px;
}

.disabled {
    opacity: 0.4;
}

.presentation {
    position: relative;
    width: 960px;
    height: 700px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    overflow: hidden;
}

.presentation__text-node {
    padding: 8px 12px;
    display: inline-block;
    user-select: none;
}

.presentation__node--text {
    text-align: left;
    font-size: 16px;
    user-select: none;
}

.presentation__node--html {
    font-size: 16px;
}

.presentation__node--selected {
    outline: 1px dotted black;
}

.presentation .presentation__node--selected:focus,
.presentation .presentation__node--selected:active {
    outline: 1px dotted black !important;
}

.presentation__node--editing {
    outline: 1px solid black;
    user-select: auto;
}

.presentation .presentation__node--editing:focus,
.presentation .presentation__node--editing:active {
    outline: 1px solid black !important;
}

.presentation__mutation-table {
    width: 900px;
    font-size: 16px;
}

.presentation__node {
    display: flex;
    position: relative;
}

.presentation__node .node__image {
    width: 100%;
    height: auto;
    margin: 0;
    display: block;
    max-width: 100%;
    max-height: 100%;
    user-select: none;
    pointer-events: none;
}

$anchor-point-size: 1.5rem;

.node__anchor-point {
    position: absolute;
    display: flex;
    padding: 0.3rem;
    width: $anchor-point-size;
    height: $anchor-point-size;
    background: white;
    border: 1px solid #3786c2;
    border-radius: 100%;
    user-select: none;
}

.node__anchor-point[data-direction='nw'] {
    top: 0;
    left: 0;
    margin-top: $anchor-point-size / -2;
    margin-left: $anchor-point-size / -2;
    cursor: nw-resize;
}

.node__anchor-point[data-direction='ne'] {
    top: 0;
    right: 0;
    margin-top: $anchor-point-size / -2;
    margin-right: $anchor-point-size / -2;
    cursor: ne-resize;
}

.node__anchor-point[data-direction='se'] {
    bottom: 0;
    right: 0;
    margin-bottom: $anchor-point-size / -2;
    margin-right: $anchor-point-size / -2;
    cursor: nwse-resize;
}

.node__anchor-point[data-direction='sw'] {
    bottom: 0;
    left: 0;
    margin-bottom: $anchor-point-size / -2;
    margin-left: $anchor-point-size / -2;
    cursor: sw-resize;
}

.ContextMenu {
    outline: 0;
    background: white;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 4px;
    border-radius: 8px;
}

.MenuItem {
    width: 100%;
    display: block;
}

.MenuItem {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    text-align: left;
    line-height: 1.5;
    margin: 0;
    outline: 0;
}

.MenuItem.open {
    background: #ddd;
}

.MenuItem:focus,
.MenuItem:not([disabled]):active {
    background: royalblue;
    color: white;
}

.Tooltip {
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(4px);
    color: white;
    padding: 6px 10px;
    border-radius: 0.5rem;
}
